*{
    margin: 0;
    padding: 0;
}
.container{
    background: linear-gradient(rgb(221, 115, 44),rgb(67, 230, 18));
    background-size: cover;
    height: auto;
    
}
html{
    scrollbar-width: thin;
    scrollbar-color: red,green;
} 
#right_div{
 
    width: 23.33%;
    float: right;
}
#left_div{
 
    width: 23.33%;
    float: left;
}
#middle_div{
    width: 50.33%;
    margin: auto;
}
#img1{
    text-align: center;
}
#img2{
    text-align: center;
}
#pic1{
    border: 5px solid rgb(20, 224, 30);
    border-radius: 100px;
    width: 97%;
  }
#pic2{
    border: 5px solid rgb(253, 127, 43);
    border-radius: 30%;
    width: 100%;
  }

h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
   
    font-weight: 200;
    color: rgb(247, 241, 241);
}
h4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
#p1{
    color: rgb(12, 12, 12);
    text-align: center;
    background-color: rgb(241, 255, 50);
        font-family: 'Playball', cursive;
    }
#p2{
    color: rgb(12, 12, 12);
    text-align: center;
    background-color: rgb(241, 255, 50);
        font-family: 'Playball', cursive;
    }
#p3{
    color: rgb(12, 12, 12);
    text-align: center;
    background-color: rgb(241, 255, 50);
        font-family: 'Playball', cursive;
    }
#p4{
    color: rgb(12, 12, 12);
    text-align: center;
    background-color: rgb(241, 255, 50);
        font-family: 'Playball', cursive;
    }
#p5{
    color: rgb(12, 12, 12);
    text-align: center;
    background-color: rgb(241, 255, 50);
        font-family: 'Playball', cursive;
    }
#p6{
    color: rgb(12, 12, 12);
    text-align: center;
    background-color: rgb(241, 255, 50);
        font-family: 'Playball', cursive;
    }
 
#con1{
    width: 50%;
    background-color: blue;
    float: right;
}
#con2{
    width: 50%;
    float: left;
}
